body {
}

.main {
}

#sidebar .md.subheader-inner {
    padding: 0px;
}

#sidebar md-input-container {
    margin-bottom: -20px;
}

.content {
}

.md-chips {
    padding: 0px 5px;
    font-size: 10px;
}
