/* app css stylesheet */
#taglist {
  margin-top: 5px;
}

#taglist span.label {
  margin-bottom: 5px;
}

span.label {
  margin-right: 5px;
  display: inline-block;
}

#taglist span.label {
  padding: 10px;
}

