<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Maritime – Timetracking made easy!</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
  </head>

  <body ng-app="maritime">
    <div layout="column" ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Maritime</h2>
        </div>
      </md-toolbar>
      <div layout="row" layout-xs="column">
        <md-content flex-md="35" layout-padding id="sidebar" ng-controller="TimersCtrl">
          <md-subheader class="md-primary">
            <md-button class="md-fab md-mini" aria-label="Add a new Timer" ng-click="add()">
              <i class="fa fa-plus"></i>
            </md-button> Add a new Timer
          </md-subheader>
          <md-list>
            <md-list-item class="md-3-line"  ng-repeat="timer in timers" ng-controller="TimerCtrl">
              <div class="md-list-item-text" layout="column">
                <h3><i class="fa fa-clock-o"></i> <timer interval="1000" auto-start="false">{{hhours}}:{{mminutes}}:{{sseconds}}</timer> h</h3>
                <md-input-container>
                  <label>Description</label>
                  <input ng-blur="update(timer)" ng-model="timer.description" placeholder="Describe what you´re about to do">
                </md-input-container>
                <!--
                <md-chips ng-model="timer.tags" md-transform-chip="$scope.makeTag($chip)" placeholder="Add Tags...">
                  <md-chip-template>
                    {{$chip.name}}
                  </md-chip-template>
                </md-chips>
                -->
                <div ng-controller="ChipCtrl as ctrl" layout="column" ng-cloak>
                  <md-chips ng-model="timer.tags" md-transform-chip="ctrl.newTag($chip)" md-on-add="ctrl.addTag($chip, timer)" md-on-remove="ctrl.removeTag(timer)">
                    <md-chip-template>
                      <span>
                        <strong>{{$chip.name}}</strong>
                      </span>
                    </md-chip-template>
                  </md-chips>
	              </div>
                <div layout="row" layout-align="end right">
                  <div>
                    <md-button aria-label="Remove the timer" class="md-icon-button" ng-click="remove(timer)">
                      <i class="fa fa-trash"></i>
                    </md-button>
                  </div>
                  <div layout="row">
                    <md-button aria-label="Stop the timer" class="md-icon-button" ng-click="stop(timer)" ng-show="timer.time.state == 1 || timer.time.state == 2">
                      <i class="fa fa-stop"></i>
                    </md-button>
                    <md-button aria-label="Pause the timer" class="md-icon-button" ng-click="pause(timer)" ng-show="timer.time.state == 1">
                      <i class="fa fa-pause"></i>
                    </md-button>
                    <md-button aria-label="Start the timer" class="md-icon-button" ng-click="start(timer)" ng-show="timer.time.state == 0 || timer.time.state == 2">
                      <i class="fa fa-play"></i> 
                    </md-button>
                  </div>
                </div>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
        <md-content flex layout-padding layout-fill>
          <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Timelog">
              <md-content class="md-padding">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
              </md-content>
            </md-tab>
            <md-tab label="Tags">
              <md-content class="md-padding">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="app.js"></script>
    <script src="components/services.js"></script>
    <script src="components/controllers.js"></script>
    <script src="components/filters.js"></script>
  </body>
</html>
