<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="maritime" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="maritime" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="maritime" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="maritime" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Maritime</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div ng-controller="TimersCtrl">
          <h1>Timer
            <div class="pull-right">
              <button type="button" ng-click="add()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
          </h1>
          <div class="row">
            <div class="col-md-12" >
              <table class="table" id="timerlist">
                <tr>
                  <th colspan="2">Description</th>
                  <th>Tags</th>
                  <th width="100px">Time</th>
                  <th width="100px" class="text-right">Controll</th>
                </tr>
                <tr ng-repeat="timer in timers" ng-controller="TimerCtrl">
                  <td>
                    <i class="glyphicon glyphicon-trash" ng-click="remove(timer)"></i>
                  </td>
                  <td>
                    <form novalidate>
                      <div class="form-group">
                        <label class="sr-only" for="timerdescription">Description of the task</label>
                        <input ng-blur="update(timer)" type="text" class="form-control input-sm" id="timerdescription" placeholder="Describe what you´re about to do" ng-model="timer.description">
                      </div>
                    </form>
                  </td>
                  <td data-drop="true" jqyoui-droppable="{multiple:true, onDrop:'DropCallback(timer)'}">
                    <span class="label label-default" ng-repeat="tag in timer.tags">{{tag.name}} <i class="glyphicon glyphicon-remove" ng-click="removeTag(timer, tag)"></i></span>
                  </td>
                  <td><timer interval="1000" auto-start="false">{{hhours}}:{{mminutes}}:{{sseconds}}</timer></td>
                  <td>
                    <div class="pull-right">
                      <button ng-click="stop(timer)" ng-show="timer.time.state == 1 || timer.time.state == 2" type="button" class="btn btn-default"><i class="glyphicon glyphicon-stop"></i></button>
                      <button ng-click="pause(timer)" ng-show="timer.time.state == 1" type="button" class="btn btn-default"><i class="glyphicon glyphicon-pause"></i></button>
                      <button ng-click="start(timer)" ng-show="timer.time.state == 0 || timer.time.state == 2" type="button" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" ng-controller="TimesCtrl">
            <h2>Timelog</h2>
            <p>Total Time: {{totalTime(times) | duration}}</p>
            <table class="table">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Time</th>
              </tr>
              <tr ng-repeat="time in times">
                <td>{{time.start_date}}</td>
                <td>{{time.description}}</td>
                <td data-drop="true" jqyoui-droppable="{multiple:true, onDrop:'DropCallback(time)'}">
                  <span class="label label-default" ng-repeat="tag in time.tags">{{tag.name}} <i class="glyphicon glyphicon-remove" ng-click="removeTag(time, tag)"></i></span>
                </td>
                <td>{{time.duration | duration}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4" ng-controller="TagCtrl">
        <h1>Tags</h1>
        <div class="row">
          <div class="col-md-12">
            <form novalidate class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="tagname">Name</label>
                <input type="text" class="form-control" id="tagname" placeholder="Name of Tag" ng-model="tag.name">
              </div>
              <button type="submit" class="btn btn-primary" ng-click="add(tag)">Add Tag</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="taglist">
            <span data-drag="true" jqyoui-draggable="{onStart:'startDragCallback(tag)'}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" class="label label-default" ng-repeat="tag in tags">{{tag.name}} <i class="glyphicon glyphicon-remove" ng-click="remove(tag)"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div>Maritime: v<span app-version></span></div>
  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
  <script src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
  <script src="bower_components/humanize-duration/humanize-duration.js"></script>
  <script src="app.js"></script>
  <script src="components/services.js"></script>
  <script src="components/controllers.js"></script>
  <script src="components/filters.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
