<div class="row">
  <div class="col-md-8">
    <div ng-controller="TimersCtrl">
      <h1>Timer
        <div class="pull-right">
          <button type="button" ng-click="add()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
          <!--
          <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
          -->
        </div>
      </h1>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tr>
              <th>Tags</th>
              <th width="100px">Time</th>
              <th width="100px">Controll</th>
            </tr>
            <tr ng-repeat="timer in timers">
              <td>{{timer.tags}}</td>
              <td>{{timer.time.duration}}</td>
              <td>
                <div class="pull-right">
                  <button ng-click="stop(timer)" ng-show="timer.time.state == 1 || timer.time.state == 2" type="button" class="btn btn-default"><i class="glyphicon glyphicon-stop"></i></button>
                  <button ng-click="pause(timer)" ng-show="timer.time.state == 1" type="button" class="btn btn-default"><i class="glyphicon glyphicon-pause"></i></button>
                  <button ng-click="start(timer)" ng-show="timer.time.state == 0 || timer.time.state == 2" type="button" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-controller="TimesCtrl">
        <h2>Timelog
        <button type="button" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i></button>
        </h2>
        <p>Total Time: {{totalTime(times) | duration}}</p>
        <table class="table">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Time</th>
          </tr>
          <tr ng-repeat="time in times">
            <td>{{time.start_date}}</td>
            <td>{{time.description}}</td>
            <td>{{time.tags}}</td>
            <td>{{time.duration | duration}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-controller="TagCtrl">
    <h1>Tags</h1>
    <div class="row">
      <div class="col-md-12" id="taglist">
        <span class="label label-default" ng-repeat="tag in tags">{{tag.name}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form novalidate class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="tagname">Name</label>
            <input type="text" class="form-control" id="tagname" placeholder="Name of Tag" ng-model="tag.name">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="add(tag)">Add Tag</button>
        </form>
      </div>
    </div>
  </div>
</div>
